

@media screen
{

    .feeds-list dt,
    .feeds-list dd
    {
        margin-left: 3em;
    }

    .feeds-list dt
    {
        font-weight:    600;
        background:     #EEEEEE;
        padding: 3px;
    }

    .feeds-list dt img
    {
    
        float:          left;
        padding:        .5em .5em 0 0;
    }
    
    .feeds-list dd
    {
        margin-bottom: 2em;
    }
}


